@model RdvViewModel;


<title>Cabinet Dentaire - Gestion des Patients</title>

<body>

    <div class="container mt-5">
        <h2 class="mb-4">Liste des rendez-vous</h2>

        @if (ViewData["ValidateMessage"] != null)
        {
            if (ViewData["ValidateMessage"] == "existant")
            {
                <div class="alert alert-danger" role="alert">
                    Erreur, le patient à peut-être déjà un rendez-vous !
                </div>
            }
            else
            {
                if (ViewData["ValidateMessage"] == "succèsMaj")
                {
                    <div class="alert alert-success" role="alert">
                        Rendez-vous modifié avec succès !
                    </div>
                }
                else
                {
                    <div class="alert alert-success" role="alert">
                        Rendez-vous ajouté avec succès !
                    </div>
                }  

            }
            
        }

        <!-- Tableau Grid Bootstrap -->
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        
                        <th scope="col">Patient</th>
                        
                        <th scope="col">Date</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Listerdv != null)
                    {
                        foreach (var item in Model.Listerdv)
                        {
                            <tr>
                                <td>@item.Id</td>
                                
                                <td>@item.patient.Nom @item.patient.Prenom</td>
                                
                                @if(item.etatRDV == false)
                                {
                                    <td>En attente </td>
                                }
                                else{
                                    <td style="color: green;">Confirmé</td>

                                    
                                    }
                                    <td>@item.DateRDV.Date</td>
                                <td>
                                    <!-- Boutons CRUD -->
                                    <form asp-controller="RDV" asp-action="ModifierRdv" method="post">
                                        <input type="hidden" name="RdvId" value="@item.Id" />
                                        <button type="submit" onclick="afficherModal(@item.Id)" class="btn btn-primary btn-sm mx-1">Modifier - Supprimer</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                    
                </tbody>
            </table>
        </div>

        <!-- Bouton Ajouter -->
        <div class="d-flex justify-content-center mb-4">
            <button type="button" class="btn btn-success btn-lg mx-2" data-bs-toggle="modal" data-bs-target="#ajouterRdvModal">
                Ajouter
            </button>
        </div>


        <!-- Modal d'ajout  -->
        <div class="modal fade" id="ajouterRdvModal" tabindex="-1" aria-labelledby="ajouterRdvModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ajouterRdvModalLabel">Enregistrer un Rendez-vous</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulaire d'ajout -->
                        <form asp-controller="RDV" asp-action="ListeRdvADD" method="post">
                            <div class="mb-3">
                                <label for="patient" class="form-label">Patient</label>
                                <select asp-for="@Model.newrd.PatientId" class="form-select">
                                    @foreach ( var item in Model.Patients)
                                    {
                                        <option value="@item.Id">@item.Nom @item.Prenom</option>
                                    }
                                </select>
                            </div>
                            
                            <div class="mb-3">
                                <label for="rdv" class="form-label">Date du RDV</label>
                                <input type="date" asp-for="@Model.newrd.DateRDV" class="form-control" id="rdv" placeholder="Entrez La date du RDV">
                            </div>

                            <div class="mb-3">
                                <label for="EtatRdv" class="form-label">Etat du rendez-vous</label>
                                <div id="EtatRdv" class="form-check d-flex justify-content-center">
                                    <div class="form-check">
                                        <input asp-for="@Model.newrd.etatRDV" class="form-check-input" type="radio" value="true">
                                        <label class="form-check-label" for="etatConf" style="margin-right:10px">Confirmé</label>
                                    </div>
                                    <div class="form-check">
                                        <input asp-for="@Model.newrd.etatRDV" class="form-check-input" type="radio" value="false">
                                        <label class="form-check-label" for="etatAtt" style="margin-right:10px">En attente</label>
                                    </div>
                                </div>
                            </div>
                            
                            <br /><br />
                            <hr />
                            <div class="text-center">
                                <button type="submit" class="btn btn-success btn-lg">Enregistrer un RDV</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de modification de patient -->
    <div class="modal fade" id="modifierRdvModal" tabindex="-1" aria-labelledby="modifierRdvModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ajouterRdvModalLabel">Modifier le patient</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulaire de modif de patient -->
                    <form asp-controller="RDV" asp-action="ListeRdvADD" method="post">
                        @Html.Partial("_ModifierRdv")
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

@section Scripts {
    <script>
        function afficherModal(RdvId) {
            // Soumettre le formulaire correspondant au clic du bouton "Modifier"
            $('#formModifier-' + RdvId).submit();
        }
    </script>
}
