@model PatientViewModel;


    <title>Cabinet Dentaire - Gestion des Patients</title>

<body>

<div class="container mt-5">
    <h2 class="mb-4">Liste des Patients</h2>
        <!-- Bouton Ajouter -->
        <div class="d-flex justify-content-end mb-4">
            <button type="button" class="btn btn-success mx-2" data-bs-toggle="modal" data-bs-target="#ajouterPatientModal">
                Ajouter
            </button>
        </div>
        @if (ViewData["ValidateMessage"] != null)
        {
            if(ViewData["ValidateMessage"] == "existant")
            {
                <div class="alert alert-danger" role="alert">
                    Erreur, patient existe déjà
                </div>
            }
            else
            {
                if (ViewData["ValidateMessage"] == "succèsMaj")
                {
                    <div class="alert alert-success" role="alert">
                        Patient modifié avec succès !
                    </div>
                }
                else
                {
                    <div class="alert alert-success" role="alert">
                        Patient ajouté avec succès !
                    </div>
                }

            }

        }

    <!-- Tableau Grid Bootstrap -->
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Cin</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Date de naissance</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Mutuelle</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.Patients)
                {
                <tr>
                    <td>@item.Id</td>
                            <td>@item.Cin</td>
                            <td>@item.Nom</td>
                            <td>@item.Prenom</td>
                            <td>@item.DateNaissance</td>
                            <td>@item.Ville</td>
                            <td>@item.Mutuelle</td>
                    <td>
                        <!-- Boutons CRUD -->
                        <form asp-controller="Patient" asp-action="ModifierPatient" method="post">
                                    <input type="hidden" name="patientId" value="@item.Id" />
                                    <button type="submit" onclick="afficherModal(@item.Id)" class="btn btn-primary btn-sm mx-1">Modifier - Supprimer</button>
                        </form>
                    </td>
                </tr>
                    }
            </tbody>
        </table>
    </div>



    <!-- Modal d'ajout de patient -->
    <div class="modal fade" id="ajouterPatientModal" tabindex="-1" aria-labelledby="ajouterPatientModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ajouterPatientModalLabel">Enregistrer un Patient</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulaire d'ajout de patient -->
                        <form asp-controller="Patient" asp-action="AddPatient" method="post">
                        <div class="mb-3">
                            <label for="id" class="form-label">CIN</label>
                                <input asp-for="@Model.NewPatient.Cin" required type="text" class="form-control" id="id" placeholder="Entrez la CIN du Patient">
                        </div>
                        <div class="mb-3">
                            <label for="nom" class="form-label">Nom</label>
                                <input asp-for="@Model.NewPatient.Nom" required type="text" class="form-control" id="nom" placeholder="Entrez le nom">
                        </div>
                        <div class="mb-3">
                            <label for="prenom" class="form-label">Prénom</label>
                                <input asp-for="@Model.NewPatient.Prenom" required type="text" class="form-control" id="prenom" placeholder="Entrez le prénom">
                        </div>
                            <div class="mb-3">
                                <label for="rdv" class="form-label">Date de naissance</label>
                                <input type="date" asp-for="@Model.NewPatient.DateNaissance" class="form-control" id="rdv" placeholder="Entrez La date de naissance">
                            </div>
                        <div class="mb-3">
                            <label for="ville" class="form-label">Ville</label>
                                <select required asp-for="@Model.NewPatient.Ville" class="form-select" id="ville">
                                    <option value="Casablanca">Casablanca</option>
                                    <option value="Tanger">Tanger</option>
                                    <option value="Marrakech">Marrakech</option>
                                    <option value="Rabat">Rabat</option>
                                    <option value="Agadir">Agadir</option>
                                    <option value="Fes">Fes</option>
                            </select>
                        </div>
                        <div class="mb-3">
                                <label  for="adresse" class="form-label">Adresse</label>
                                <textarea asp-for="@Model.NewPatient.Adresse" required class="form-control" id="adresse" rows="3" placeholder="Entrez l'adresse"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="Mutuelle" class="form-label">Mutuelle</label>
                            <div id="Mutuelle" class="form-check d-flex justify-content-center">
                                <div class="form-check">
                                        <input  asp-for="@Model.NewPatient.Mutuelle" class="form-check-input" type="radio"  value="true">
                                    <label class="form-check-label" for="mutuelleOui" style="margin-right:10px">Oui</label>
                                </div>
                                <div class="form-check">
                                        <input  asp-for="@Model.NewPatient.Mutuelle" class="form-check-input" type="radio"  value="false">
                                        <label   class="form-check-label" for="mutuelleNon" style="margin-right:10px">Non</label>
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <hr />
                        <div class="text-center">
                            <button type="submit" class="btn btn-success btn-lg">Enregistrer un Patient</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Modal de modification de patient -->
    <div class="modal fade" id="modifierPatientModal" tabindex="-1" aria-labelledby="modifierPatientModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ajouterPatientModalLabel">Modifier le patient</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulaire de modif de patient -->
                    <form asp-controller="Patient" asp-action="AddPatient" method="post">
                            @Html.Partial("_ModifierPatient")
                    </form>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

@section Scripts {
    <script>
        function afficherModal(patientId) {
            // Soumettre le formulaire correspondant au clic du bouton "Modifier"
            $('#formModifier-' + patientId).submit();
        }
    </script>
}
